<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.hcode.hoj.mapper.HonorMapper">

    <select id="getAdminHonorList" resultType="top.hcode.hoj.pojo.entity.honor.Honor">
        SELECT * FROM honor h
        <where>
            h.gid is null and h.is_group = 0
            <if test="type != null">
                and h.type = #{type}
            </if>
            <if test="year != null">
                and YEAR(h.date) = #{year}
            </if>
            <if test="keyword != null and keyword != ''">
                and (
                    h.title like concat('%',#{keyword},'%') or h.team_member like concat('%',#{keyword},'%')
                )
            </if>
        </where>
        order by h.date DESC
    </select>

</mapper>