<!DOCTYPE html>
<html lang="zh" xmlns:th=http://www.thymeleaf.org>
    <head>
        <meta charset="UTF-8">
        <title>[[${OJ_SHORT_NAME}]]用户账号通知</title>
    </head>
    <body>
        <div style="background: white;
               width: 100%;
               max-width: 800px;
               margin: auto auto;
               border-radius: 5px;
               border:#1bc3fb 1px solid;
               overflow: hidden;
               -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
               box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.18);">
            <header style="overflow: hidden;">
                <center>
                    <img style="width:100%;z-index: 666;"
                         th:src="${EMAIL_BACKGROUND_IMG}">
                </center>
            </header>
            <div style="padding: 5px 20px; ">
                <p style=" position: relative;
                 color: white;
                 float: left;
                 z-index: 999;
                 background: #1bc3fb;
                 padding: 5px 30px;
                 margin: -25px auto 0 ;
                 box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.30) ">
                    <span th:if="${SCHOOL != null and !#strings.isEmpty(SCHOOL)}">
                        欢迎来自 [[${SCHOOL}]] 的用户
                    </span>
                    <span th:unless="${SCHOOL != null and !#strings.isEmpty(SCHOOL)}">
                        Dear [[${USERNAME}]]
                    </span>
                </p>
                <br>
                <center>
                    <h3>
                        来自 <span style=" text-decoration: none;color: #FF779A;" th:text="${OJ_SHORT_NAME}"></span> 邮件提醒
                    </h3>
                    <p style="text-indent:2em;">
                        这是来自网站管理的账号通知, 请您自行保存好密码。<br>
                        您收到这封电子邮件是因为您在<a style=" text-decoration: none;color: #1bc3fb " target="_blank" th:href="${OJ_URL}" rel="noopener">&nbsp;[[${OJ_SHORT_NAME}]]&nbsp;</a>提交报名，本网站生成了账号，特此通知。<br>
                        该操作属于系统群发，如果您对账号问题有任何疑问, 请您尽快联络管理员。
                    </p>
                    <div style="background: #fafafa repeating-linear-gradient(-45deg,#fff,#fff 1.125rem,transparent 1.125rem,transparent 2.25rem);box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);margin:20px auto;padding:15px;border-radius:5px;font-size:14px;color:#555555;width: fit-content; text-align: left;">
                        请使用以下账号和密码登录本网站：<br>
                        <div style="padding-left: 15px;">
                            您的账号: <span style=" color: #BA1313;font-weight: bolder;font-size: 15px;" th:text="${USERNAME}"></span><br>
                            您的密码: <span style=" color: #BA1313;font-weight: bolder;font-size: 15px;" th:text="${PASSWORD}"></span><br><br>
                            <div th:if="${CONTEST_URL != null and CONTEST_URL != '' and CONTEST_TITLE != null and CONTEST_TITLE != ''}">
                                比赛网址：<a style="text-decoration: none; color: #1bc3fb;" th:href="${CONTEST_URL}"  target="_blank" th:text="${CONTEST_TITLE}"></a>
                            </div>
                        </div>
                    </div>
                    &nbsp; &nbsp;

                    <br>
                    <div style=" text-align: center; ">
                        <a style="text-transform: uppercase;
                               text-decoration: none;
                               font-size: 14px;
                               background: #FF779A;
                               color: #FFFFFF;
                               padding: 10px;
                               display: inline-block;
                               border-radius: 5px;
                               margin: 10px auto 0;"
                           target="_blank" th:href="${OJ_URL}" rel="noopener" th:text="${OJ_SHORT_NAME}+'｜传送门🚪'"></a>
                    </div>
                    <p style="font-size: 12px;text-align: center;color: #999; ">
                        欢迎常来访问！<br>
                        © 2022 <a style="text-decoration:none; color:#1bc3fb " th:href="${OJ_URL}" rel="noopener"
                                  target="_blank" th:text="${OJ_NAME}"></a>
                    </p>
                    <p></p>
                </center>
            </div>
        </div>
    </body>
</html>